
<h1>{{title}}</h1>
<p>A simple Sample Angular web page</p>

<h2>Programming Languages</h2>
<table>
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Script</th>
            <th scope="col">Level</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let language of languages">
            <td>{{ language.name }}</td>
            <td>{{ language.script }}</td>
            <td>{{ language.level }}</td>
        </tr>
    </tbody>
</table>

<router-outlet></router-outlet>
